<template>
    <button class="flex flex-row justify-center shadow-md text-stone-100 dark:text-stone-100 w-full rounded-md font-semibold py-1 px-2 bg-orange-600 hover:bg-orange-500 active:bg-orange-700">
        <slot></slot>
    </button>
</template>