<template>
	<Teleport to="body">
		<Modal
			:open="showModal"
			:text="message.text"
			:isError="message.isError"
		/>
	</Teleport>
	<main class="layout bg-stone-100 dark:bg-stone-600 text-stone-900 dark:text-stone-100 overflow-y-hidden">
		<div class="flex fixed bottom-4 left-4 z-60">
			<p class="text-stone-700 dark:text-stone-300 text-xs">
				<a class="underline font-semibold hover:no-underline" href="https://gitlab.univ-nantes.fr/E187954Y/petrinet-player">Freely accessible on GitLab</a> under the AGPL license version 3
			</p>
		</div>
		<section class="content">
			<v-network-graph :nodes="nodes" :edges="edges" :configs="configs">
				<template #override-node-label="{ nodeId, scale, text, x, y, config, textAnchor, dominantBaseline }">
					<text
						x="0"
						y="0"
						:font-size="12 * scale"
						text-anchor="middle"
						dominant-baseline="central"
						fill="#ffffff"
						>{{ nodes[nodeId].tokens }}</text
					>
					<text
						:x="x"
						:y="y"
						:font-size="config.fontSize * scale"
						:text-anchor="textAnchor"
						:dominant-baseline="dominantBaseline"
						:fill="config.color"
						>{{ text }}</text
					>
				</template>
				<template #edge-label="{ edge, ...slotProps }">
					<v-edge-label :text="edge.weight" align="center" vertical-align="above" v-bind="slotProps" />
				</template>
			</v-network-graph>
		</section>
		<section class="sidebar bg-stone-200 dark:bg-stone-800 p-8 h-full">
			<div class="flex flex-col h-full overflow-y-scroll">
				<div>
					<div class="mb-8">
						<h1 class="text-center text-3xl font-bold">Petrinet</h1>
					</div>
					<div class="mb-6" v-if="transitions.length">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">Fire transition</h2>
							<div class="flex flex-row gap-2 flex-wrap">
								<Button class="w-12" v-for="transition in transitions" :key="transition.name"
									@click="fire(transition.name)">{{ transition.name }}</Button>
							</div>
						</div>
					</div>
					<div class="mb-6">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">Place</h2>
							<form @submit.prevent="addPlace">
								<div class="flex flex-col mb-4">
									<label for="place-name"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300">Name</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="text" v-model="place.name" id="place-name" minlength="1"
										placeholder="Name..." name="place-name" required />
								</div>
								<div class="flex flex-col mb-4">
									<label for="place-tokens"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300">Tokens</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="number" v-model.number="place.tokens" name="place-tokens"
										id="place-tokens" step="1" min="0" required />
								</div>
								<div>
									<Button type="submit">
										<img src="./assets/plus-light.svg" alt="Plus light icon" />
										<span class="ml-1">Add</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
					<div class="mb-6">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">Transition</h2>
							<form @submit.prevent="addTransition">
								<div class="flex flex-col mb-4">
									<label for="transition-name"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300">Name</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="text" v-model="transition.name" id="transition-name" minlength="1"
										placeholder="Name..." name="transition-name" required />
								</div>
								<div>
									<Button type="submit">
										<img src="./assets/plus-light.svg" alt="Plus light icon" />
										<span class="ml-1">Add</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
					<div class="mb-8">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">Edge</h2>
							<form @submit.prevent="addEdge">
								<div class="flex flex-row gap-x-2 w-full">
									<div class="flex flex-col mb-4 w-1/2">
										<label for="edge-place"
											class="mb-1 text-sm text-stone-700 dark:text-stone-300">Place</label>
										<select v-model="edge.place.name" name="edge-place" id="edge-place"
											class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300">
											<option v-for="place in places" :key="place.name" :value="place.name">
												{{ place.name }}
											</option>
										</select>
									</div>
									<div class="flex flex-col mb-4 w-1/2">
										<label for="edge-transition"
											class="mb-1 text-sm text-stone-700 dark:text-stone-300">Transition</label>
										<select v-model="edge.transition.name" name="edge-transition" id="edge-place"
											class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300">
											<option v-for="transition in transitions" :key="transition.name"
												:value="transition.name">
												{{ transition.name }}
											</option>
										</select>
									</div>
								</div>
								<div class="flex flex-col mb-4">
									<label for="edge-weight"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300">Weight</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="number" v-model.number="edge.weight" name="edge-weight" id="edge-weight"
										step="1" min="0" required />
								</div>
								<div class="mb-4">
									<p class="mb-1 text-sm text-stone-700 dark:text-stone-300">
										Orientation
									</p>
									<input type="checkbox" v-model="edge.orientation" id="edge-orientation"
										name="edge-orientation" class="orientation-checkbox" />
									<label for="edge-orientation"
										class="cursor-pointer select-none flex flex-row justify-between orientation-label">
										<span>Place</span>
										<img src="./assets/arrow-light.svg" alt="Arrow light icon" />
										<span>Transition</span>
									</label>
								</div>
								<div>
									<Button type="submit">
										<img src="./assets/plus-light.svg" alt="Plus light icon" />
										<span class="ml-1">Add</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="flex flex-row gap-x-2 justify-between">
					<button @click="changeTheme">
						<img src="./assets/dark.svg" alt="Dark mode" v-if="isDarkMode" />
						<img src="./assets/light.svg" alt="Light mode" v-else />
					</button>
					<p class="text-stone-400">
						Made with ❤️ by <span class="font-semibold">Ekkaia</span>
					</p>
				</div>
			</div>
		</section>
	</main>
</template>

<script setup lang="ts">
import { onMounted, ref, reactive, computed } from "vue";
import init, { PetrinetProxy } from "petrinet";
import * as vNG from "v-network-graph";
import {
	Place,
	Transition,
	Edge,
	DisplayEdges,
	DisplayNodes,
	messages,
	Report,
	PetrinetMessage
} from "./services/petrinet.interfaces";
import Button from "./components/Button.vue";
import Modal from "./components/Modal.vue";
import "normalize.css";

const places = ref<Place[]>([]);
const transitions = ref<Transition[]>([]);
const edges = ref<DisplayEdges>({});
const nodes = ref<DisplayNodes>({});

const showModal = ref(false);
const message = ref<Report>({ text: "", isError: false });

const isDarkMode = ref<boolean | undefined>(undefined);

const configs = reactive(vNG.defineConfigs({
	node: {
		text: "tokens",
		normal: {
			type: (node: any) => node.type,
			color: "#ea580c",
		},
		hover: {
			color: "#f97316",
		},
		label: {
			visible: true,
			fontSize: 16,
		}
	},
	edge: {
		normal: {
			color: "#fb923c",
		},
		hover: {
			color: "#fdba74",
		},
		marker: {
			target: {
				type: "arrow",
			},
		},
		label: {
			visible: true,
			fontSize: 12,
		},
	},
}));

const place = ref<Place>({ name: "", tokens: 0 });
const transition = ref<Transition>({ name: "" });

const edge = ref<Edge>({
	place: {
		name: "",
		tokens: 0,
	},
	transition: {
		name: "",
	},
	orientation: false,
	weight: 1,
});

let petrinet: PetrinetProxy;

const themeColor = () => isDarkMode.value ? "#f5f5f4" : "#1c1917";

onMounted(async () => {
	if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		document.documentElement.classList.add("dark");
		isDarkMode.value = true;
	} else {
		document.documentElement.classList.add("light");
		isDarkMode.value = false;
	}
	configs.node.label.color = themeColor();
	configs.edge.label.color = themeColor();
	await init();
	petrinet = new PetrinetProxy();
});

function displayMessage(report: Report) {
	message.value = report;
	showModal.value = true;
	setTimeout(() => showModal.value = false, 2200);
}

function changeTheme(): void {
	document.documentElement.classList.toggle("dark");
	isDarkMode.value = !isDarkMode.value;
	configs.node.label.color = themeColor();
	configs.edge.label.color = themeColor();
}

function addPlace(): void {
	const res: PetrinetMessage = petrinet?.add_place(place.value.name, place.value.tokens);
	displayMessage(messages[res]);
	places.value = petrinet.places;
	nodes.value[place.value.name] = {
		name: place.value.name,
		type: "circle",
		tokens: place.value.tokens,
	};
	place.value = {
		name: "",
		tokens: 0,
	};
}

function addTransition(): void {
	const res: PetrinetMessage = petrinet?.add_transition(transition.value.name);
	displayMessage(messages[res]);
	transitions.value = petrinet.transitions;
	nodes.value[transition.value.name] = {
		name: transition.value.name,
		type: "rect",
	};
	transition.value = {
		name: "",
	};
}

function addEdge(): void {
	const res: PetrinetMessage = petrinet?.add_edge(
		edge.value.place.name,
		edge.value.transition.name,
		edge.value.orientation,
		edge.value.weight,
	);
	displayMessage(messages[res]);
	petrinet.edges.forEach((edge: Edge) => {
		edges.value[`${edge.transition.name}${edge.place.name}${edge.orientation}`] = {
			weight: edge.weight,
			source: edge.orientation ? edge.place.name : edge.transition.name,
			target: edge.orientation ? edge.transition.name : edge.place.name,
		};
	});
	edge.value = {
		place: {
			name: "",
			tokens: 0,
		},
		transition: {
			name: "",
		},
		orientation: false,
		weight: 0,
	};
}

function fire(transitionName: string): void {
	const res: PetrinetMessage = petrinet?.fire(transitionName);
	displayMessage(messages[res]);
	places.value = petrinet.places;
	places.value.forEach((place: Place) => nodes.value[place.name].tokens = place.tokens);
}
</script>

<style lang="scss">
.dark {
	.layout {
		.sidebar,
		dialog {
			box-shadow: -0.5px 0px 0.6px hsl(0deg 0% 0% / 0.2),
				-1.2px 0px 1.3px -0.6px hsl(0deg 0% 0% / 0.2),
				-2.3px 0px 2.6px -1.2px hsl(0deg 0% 0% / 0.2),
				-4.5px 0px 5.1px -1.9px hsl(0deg 0% 0% / 0.2),
				-8.6px 0.1px 9.7px -2.5px hsl(0deg 0% 0% / 0.2);
		}
	}
}

.layout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;

	.content {
		flex-basis: 0;
		flex-grow: 999;
		min-width: 50%;
		height: 100%;
	}

	.sidebar,
	dialog {
		box-shadow: -0.5px 0px 0.6px hsl(0deg 0% 73% / 0.2),
			-1.2px 0px 1.3px -0.6px hsl(0deg 0% 73% / 0.2),
			-2.3px 0px 2.6px -1.2px hsl(0deg 0% 73% / 0.2),
			-4.5px 0px 5.1px -1.9px hsl(0deg 0% 73% / 0.2),
			-8.6px 0.1px 9.7px -2.5px hsl(0deg 0% 73% / 0.2);
	}

	.sidebar {
		flex-basis: 25rem;
		flex-grow: 1;
		z-index: 998;
		border-radius: 1rem 0 0 1rem;

		.orientation-checkbox {
			display: none;
			visibility: hidden;
		}

		.orientation-checkbox:checked~.orientation-label img {
			transform: rotate(180deg);
			transition: all 0.3s ease-in-out;
		}
	}
}
</style>
